.float-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.floating-button {
  position: fixed;
  border-radius: 50%;
  bottom: 110px;
  right: 20px;
  height: 55px;
  background-color: #D44325;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(2, 1, 1, 1.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.phone-icon {
  margin-right: 2px;
  font-size: 28px;
}

.phone-icono {
  margin-right: 2px;
  font-size: 15px;
}

.modal-header {
  border: none;
  color: #D44325;
}
